## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Long,Hotel Name
0,1,Atuona,PF,77.79,clear sky,-9.8000,-139.0333,Villa Enata
1,12,Puerto Quijarro,BO,77.54,scattered clouds,-17.7833,-57.7667,Hotel palance
2,28,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,Little Italy Hotel
3,44,Mujiayingzi,CN,79.61,overcast clouds,42.1167,118.7833,Jinjiang Hotel
4,50,Eatonton,US,79.09,broken clouds,33.3268,-83.3885,US Forestry Department
...,...,...,...,...,...,...,...,...
101,684,Tomatlan,MX,79.45,overcast clouds,19.9333,-105.2500,El Salvial
102,685,Dengfeng,CN,78.40,overcast clouds,34.4553,113.0281,Songshan Dihao Hotel
103,693,Monrovia,LR,75.97,moderate rain,6.3005,-10.7969,Sunset Inn
104,698,San Cristobal,VE,77.18,overcast clouds,7.7669,-72.2250,Pirineos
105,709,Colares,PT,77.99,clear sky,38.7992,-9.4469,Penha Longa Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Long"]]
locations

         Lat      Long
0    -9.8000 -139.0333
1   -17.7833  -57.7667
2   -21.2000 -175.2000
3    42.1167  118.7833
4    33.3268  -83.3885
..       ...       ...
101  19.9333 -105.2500
102  34.4553  113.0281
103   6.3005  -10.7969
104   7.7669  -72.2250
105  38.7992   -9.4469

[106 rows x 2 columns]

In [4]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure

vacation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              106 non-null    int64
 1   City                 106 non-null    object
 2   Country              106 non-null    object
 3   Max Temp             106 non-null    float64
 4   Current Description  106 non-null    object
 5   Lat                  106 non-null    float64
 6   Long                 106 non-null    float64
 7   Hotel Name           106 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 6.8+ KB

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city. DataFrames for each city on the itinerary (10 pt)
# vacation_start = vacation_df.loc["City"] = "Avera"
vacation_start = vacation_df.loc[vacation_df["City"] == "Avera"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Avera"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Eatonton"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Russell"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Marshall"]
vacation_stop4 = vacation_df.loc[vacation_df["City"] == "Muscle Shoals"]

In [6]:
vacation_stop4

,City_ID,City,Country,Max Temp,Current Description,Lat,Long,Hotel Name
25,227,Muscle Shoals,US,77.14,scattered clouds,34.7448,-87.6675,Marriott Shoals Hotel & Spa

In [12]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Long,Hotel Name
93,597,Marshall,US,76.08,moderate rain,34.3834,-86.3333,Hampton Inn Guntersville

In [8]:
#vacation_start_df = vacation_df.loc["City"] = "Avera"
#vacation_start_df

'Avera'

In [13]:
#long = vacation_df.loc[vacation_df["City"] == vacation_start, ["Long"]]
#long

In [15]:
#Exploring the data 
# vacation_df.loc[vacation_df["City"] == vacation_start, ["Long"]].to_numpy()[0][0]

temp

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start_df = (vacation_start_lat, vacation_start_long).to_numpy()

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Long"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Long"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Long"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Long"].to_numpy()[0]
stop4 = vacation_stop4["Lat"].to_numpy()[0], vacation_stop4["Long"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Long"].to_numpy()[0]
print(f"Start: {start}, Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}, Stop 4: {stop4}, End: {end}")

Start: (33.194, -82.5271), Stop 1: (33.3268, -83.3885), Stop 2: (32.3502, -85.1999), Stop 3: (34.3834, -86.3333), Stop 4: (34.7448, -87.6675), End: (33.194, -82.5271)

In [ ]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start_df = (vacation_start_lat, vacation_start_long).to_numpy()

# vacation_start_lat = vacation_df.loc[vacation_df["City"] == vacation_start, ["Lat"]]
# vacation_start_long = vacation_df.loc[vacation_df["City"] == vacation_start, ["Long"]]

# vacation_end_lat = vacation_df.loc[vacation_df["City"] == vacation_end, ["Lat"]]
# vacation_end_long = vacation_df.loc[vacation_df["City"] == vacation_end, ["Long"]]

# vacation_stop1_lat = vacation_df.loc[vacation_df["City"] == vacation_stop1, ["Lat"]]
# vacation_stop1_long = vacation_df.loc[vacation_df["City"] == vacation_stop1, ["Long"]]

# vacation_stop2_lat = vacation_df.loc[vacation_df["City"] == vacation_stop2, ["Lat"]]
# vacation_stop2_long = vacation_df.loc[vacation_df["City"] == vacation_stop2, ["Long"]]

# vacation_stop3_lat = vacation_df.loc[vacation_df["City"] == vacation_stop3, ["Lat"]]
# vacation_stop3_long = vacation_df.loc[vacation_df["City"] == vacation_stop3, ["Long"]]

# vacation_stop4_lat = vacation_df.loc[vacation_df["City"] == vacation_stop4, ["Lat"]]
# vacation_stop4_long = vacation_df.loc[vacation_df["City"] == vacation_stop4, ["Long"]]

#vacation_stop4_long

# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start_df = (vacation_start_lat, vacation_start_long).to_numpy()

#start_df = vacation_df({vacation_df.loc["City Name" == vacation_start, "Lat"], vacation_df.loc["City Name" == vacation_start, "Long"]}).to_numpy()
#vacation_df_df = vacation_df({vacation_df.loc["City Name" == vacation_start, "Lat"], vacation_df.loc["City Name" == vacation_start, "Long"]})
#end = vacation_df({vacation_df.loc["City Name" == vacation_end, "Lat"], vacation_df.loc["City Name" == vacation_end, "Long"]}).to_numpy()
#stop1 = vacation_df({vacation_df.loc["City Name" == vacation_stop1, "Lat"], vacation_df.loc["City Name" == vacation_stop1, "Long"]}).to_numpy()
#stop2 = vacation_df({vacation_df.loc["City Name" == vacation_stop2, "Lat"], vacation_df.loc["City Name" == vacation_stop2, "Long"]}).to_numpy()
#stop3 = vacation_df({vacation_df.loc["City Name" == vacation_stop3, "Lat"], vacation_df.loc["City Name" == vacation_stop3, "Long"]}).to_numpy()
#stop4 = vacation_df({vacation_df.loc["City Name" == vacation_stop4, "Lat"], vacation_df.loc["City Name" == vacation_stop4, "Long"]}).to_numpy()
#vacation_df_df

#vacation_stop4_long

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, stop3, and stop4 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# Create Map with route
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3, stop4],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# 8. To create a marker layer map between the five cities.
#  Combine the five city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_stop4, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Long,Hotel Name
0,270,Avera,US,78.85,broken clouds,33.194,-82.5271,April darren
1,Avera,Avera,Avera,Avera,Avera,Avera,Avera,Avera
2,50,Eatonton,US,79.09,broken clouds,33.3268,-83.3885,US Forestry Department
3,296,Russell,US,76.96,clear sky,32.3502,-85.1999,Macs
4,597,Marshall,US,76.08,moderate rain,34.3834,-86.3333,Hampton Inn Guntersville
5,227,Muscle Shoals,US,77.14,scattered clouds,34.7448,-87.6675,Marriott Shoals Hotel & Spa
6,270,Avera,US,78.85,broken clouds,33.194,-82.5271,April darren
7,Avera,Avera,Avera,Avera,Avera,Avera,Avera,Avera

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure